@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.newsletter{
    background-image: url('./../../assets/bg-shadow.png');
    height: 336px;
    background-color: rgb(255,255,255);
    background-repeat: no-repeat;
    background-position: center;
}

.newFont{
    font-family: "Inter", sans-serif;
}

.btnStyle{
    background-image: url('./../../assets/buttonStyle-Photoroom.png');
    background-position: center;
    cursor: pointer;
    background-size: 200%;
    background-repeat: no-repeat;
}