.btnStyle{
    background-image: url('./../../../public/assets/buttonStyle-Photoroom.png');
    background-position: center;
    cursor: pointer;
    background-size: 200%;
    background-repeat: no-repeat;
}