@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.hero-container{
    min-height: 50.5svh;
    background-image: url('../../../public/assets/bg-shadow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(19, 19, 19);
    background-size: cover;
}

.newFont{
    font-family: "Inter", sans-serif;
}